:root {
    --rounding: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #ededed;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 650px;
    height: 400px;

    background-color: #fff;
    margin: auto;

    border-radius: var(--rounding);
    
    -webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.info-container {
    width: 300px;
    height: 100%;

    float: left;
    
    border-radius: var(--rounding) 0px 0px var(--rounding);

    background: #6078EA; 
    background: -webkit-linear-gradient(left top, #17EAD9, #6078EA); 
    background: -o-linear-gradient(bottom right, #17EAD9, #6078EA); 
    background: -moz-linear-gradient(bottom right, #17EAD9, #6078EA); 
    background: linear-gradient(to bottom right, #17EAD9, #6078EA);
}

.img-max {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.action-container {
    width: 350px;
    height: 100%;
    float: left;
    position: relative;

    border-radius: 0px var(--rounding) var(--rounding) 0px;
}

.tab-bar {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;

    border-radius: 0px var(--rounding) 0px 0px;
}

.tab {
    height: 30px;
    padding-top: 15px;
    flex: 1 1 auto;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;

    border-radius: 0px 0px var(--rounding) 0px;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.active-tab {
    border-bottom-style: solid;
    border-color: #3498DB;
    border-width: 2px;
}

.button {
    height: 10px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #3498DB;
    text-align: center;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #3498DB; /* Green */
    color: white;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}